Regeln in der Gruppe
- Keine Belästigung und Beleidigungen
- Smalltalk ist erlaubt und gerne gesehen, da man dadurch sehr gut lernen kann.
- Jegliche Personen sind willkommen, solange sie nett und höflich bleiben.
- Mehr kommen!
